{% extends "website/base.html" %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
     
    <title> CONTACT ADDRESS </title>
    <head>
        <div class="contact">
            <div class="contactimage">
                <img src="/static/img/c50.jpg" alt="contact image">
            </div>
        </div>
        <h1><div class="items2">CONTACT ADDRESS </div></h1>
         <h2><div class="items"> Aurora private limited</div> 
         <div class="items"> barathiyar street,</div>
        <div class="items"> anna nagar chennai-600026</div></h2>
    </head>
    <body>
        <h2><div class="items1">phone no: 8764726374/7364672834</div><br>
       <div class="items"> fax: +91 044 2826 6708</div><br>
       <div class="items1"> email address:aurora@gmail.com<div></h2>
    </body>
</html>




{% endblock %}