{% extends "website/base.html" %}

{% block content %}
<div class="peoplecontent">
    <h1><div class="about">Our Executive Workers</div></h1>
    <div class="peoples">
        <div class="people">
            <div class="peopleimage">
                <img src="/static/img/p11.jpg" alt="people image">
            </div>
            <div class="peoplename">Sandhya charu N</div>
            <div class="peoplepos"> Holder </div>
        </div>
        <div class="people">
            <div class="peopleimage">
                <img src="/static/img/p2.jpg" alt="people image">
            </div>
            <div class="peoplename">Avinas R</div>
            <div class="peoplepos">Chief Executive Officer </div>
        </div>
        <div class="people">
            <div class="peopleimage">
                <img src="/static/img/p3.jpg" alt="people image">
            </div>
            <div class="peoplename">Natramil Selvam R</div>
            <div class="peoplepos">Manager </div>
        </div>
        <div class="people">
            <div class="peopleimage">
                <img src="/static/img/p4.jpg" alt="people image">
            </div>
            <div class="peoplename"> Bharathi N </div>
            <div class="peoplepos"> Assistant Manager </div>
        </div>
        <div class="people">
            <div class="peopleimage">
                <img src="/static/img/p5.jpg" alt="people image">
            </div>
            <div class="peoplename">Vijayalaxmi E</div>
            <div class="peoplepos"> Marketing Manager </div>
        </div>
        <div class="people">
            <div class="peopleimage">
                <img src="/static/img/p6.jpg" alt="people image">
            </div>
            <div class="peoplename">Parvathi R</div>
            <div class="peoplepos">Assistant Marketing Manager </div>
        </div>
    </div>
</div>
{% endblock  %}