*{
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
 }

 .about{

color: rgb(247, 43, 36) ;
 }
}
body{
    background-color: rgb(245, 244, 237);
    color:  rgb(245, 54, 29);
}
.container{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    box-shadow: 15px 15px 8px rgb(245, 219, 164);    
}

.banner{
    display: block;
    width: 100%;
    height: 250px;
    text-align: center;
    font-size: xx-large;
    background-image : url("/static/img/chips.jpg");
    background-size:cover;
    margin: 0px 0px 0px 0px;
    padding-top: 150px;
    color: rgb(231, 217, 19);
}

.menu{
    display: block;
    width: 100%;
    height: 50px;
    font-size: larger;
    background-color: rgb(240, 170, 20);
    text-align: center;
    padding-top: 15px;
    margin: 0px 0px 0px 0px;
    border-width: 1px;
}

.menuitem{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.menuitem a{
    text-decoration: none; 
    color: rgb(24, 78, 19);
}

.content{
    display: block;
    width: 100%;
    background-color: white;
    min-height: 1000px;
    margin: 0px 0px 0px 0px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
}
.homecontent{
    min-height: 1000px;
    margin: 10px 10px 10px 10px;
}
.homecontent h1{
    text-align: left;    
}
.homecontent img{
    float: right;
    width: 400px;
    height: 500px;
    margin-left: 10px;
}

.contenttext{
    text-align: justify;
}

.productcontent{
    min-height: 500px;
    margin: 10px 10px 10px 10px;
}

.productcontent h1{
    text-align: left;    
}

.productitems{
    display: block;
}

.productitem{
    display: inline-block;
    width: 30%;
    height: 250px;
    text-align: center;
}

.productitem img{
    width: 150px;
    height: 150px;
    display: block;
}
.productitem .itemimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-bottom: 5px;
}

.productitem .itemname{
    display: block;
}
.productitem .itemprice{
    display: block;
}

.footer{
    display: block;
    width: 100%;
    height: 40px;
    background-color: rgb(240, 170, 20);
    text-align: center;
    padding-top: 10px;
    margin: 0px 0px 0px 0px;
    color: rgb(24, 56, 28);
}

.items{
    color: blue;
}

.items1{
    color: cadetblue;
}

.items2{
    color: brown;
}

.peoplecontent{
    min-height: 500px;
    margin: 10px 10px 10px 10px;
}

.peoplecontent h1{
    text-align: left;    
}

.peoples{
    display: block;
}

.people{
    display: inline-block;
    width: 30%;
    height: 250px;
    text-align: center;
}

.people img{
    width: 150px;
    height: 150px;
    display: block;
}
.people .peopleimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-bottom: 5px;
}

.people .peoplename{
    display: block;
}
.people .peoplepos{
    display: block;
}

.contact{
    display: inline-block;
    width: 30%;
    height: 250px;
    text-align: left;
}

.contact img{
    width: 865px;
    height: 270px;
    display: block;
}
.contact .contactimage{
    display: block;
    margin-left: auto ;
    margin-right: auto;
    width: 100px;
    margin-bottom: 5px;
}
